<!DOCTYPE html>
<html lang="en" ng-app="pokerReplayer">
    <head>
        <meta charset="UTF-8">
        <title>Social Poker Hand Replayer</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    </head>

    <body ng-controller="ReplayerController as replayer">
        <header>
            <h1 class="text-center">Social Poker Hand Replayer</h1>
        </header>

        <div>
            <canvas id="board" width="600" height="400"></canvas>
            <button type="button" ng-click="replayer.drawFlop()">Flop</button>
            <button type="button" ng-click="replayer.drawTurn()">Turn</button>
            <button type="button" ng-click="replayer.drawRiver()">And The river is...</button>
        </div>
    </body>
</html>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>
<script type="text/javascript" src="services.js"></script>
<script type="text/javascript" src="app.js"></script>
